/* Weather App Container */
.weather-app {
  transition: all 200ms ease-in-out;
  color: black;
  text-align: center;
  display: block;
  border: 3px solid rgb(253, 210, 160);
  margin: 20px auto;
  max-width: 700px;
  border-radius: 20px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/069/267/original/test.jpg?1677476201");
}
/* Search Form */
.search-bar {
  box-shadow: 3px 3px grey;
  width: 400px;
  max-width: 500px;
}

.search-bt {
  transition: all 200ms ease-in-out;
  box-shadow: 3px 3px grey;
  width: 100px;
}

#search-form {
  padding: 4%;
}

/* Units = Celcius or Farenheit section*/
.units {
  font-weight: 600;
  font-size: 20px;
  padding: 1%;
}

#celcius-temp {
  transition: all 200ms ease-in-out;
  padding: 1%;
  color: gray;
  text-decoration: none;
}

#farenheit-temp {
  transition: all 200ms ease-in-out;
  padding: 1%;
  color: gray;
  text-decoration: none;
}

#celcius-temp:hover {
  transition: all 200ms ease-in-out;
  text-decoration: underline;
  border: 1px solid black;
  border-radius: 30px;
}

#farenheit-temp:hover {
  transition: all 200ms ease-in-out;
  text-decoration: underline;
  border: 1px solid black;
  border-radius: 30px;
}
/*Grid Container, Icon and Temperature */

.grid-container {
  display: block;
  margin: 0 auto;
  width: 400px;
}
.gridd {
  display: grid;
  grid-template-columns: 150px 150px;
}

.temperature {
  font-size: 100px;
}

#icon {
  margin-left: 20px;
  width: 140px;
}

/* Description*/
.weather-description-container {
  display: block;
  margin: 0 auto;
  width: 350px;
  padding: 3%;
}
.weather-description {
  display: grid;
  grid-template-columns: 150px 150px;
}

/*Bottom buttons section*/
.button-container {
  padding: 3%;
}

#actualPosition {
  transition: all 200ms ease-in-out;
  box-shadow: 3px 3px grey;
  width: 150px;
  padding: 5px;
}

#actualPosition:hover {
  transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-color: gainsboro;
  box-shadow: 3px 3px rgb(255, 255, 255);
}

#coords {
  box-shadow: 3px 3px grey;
  width: 150px;
  padding: 5px;
}

#coords:hover {
  transition: all 200ms ease-in-out;
  background-color: gainsboro;
  box-shadow: 3px 3px rgb(255, 255, 255);
}
/*Button Mode*/
#mode_bt {
  transition: all 200ms ease-in-out;
  box-shadow: 3px 3px grey;
  width: 100px;
}

#mode_bt:hover {
  transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-color: gainsboro;
  box-shadow: 3px 3px rgb(255, 255, 255);
}
/*Source code by: F.S*/
.by {
  display: block;
  margin: 0 auto;
  padding: 2%;
}

.source {
  padding: 1%;
  text-decoration: none;
}

.source:hover {
  transition: all 200ms ease-in-out;
  text-decoration: underline;
  border: 1px solid black;
  border-radius: 30px;
}

/* Night Theme*/

.darkmode {
  transition: all 100ms ease-in-out;
  text-align: center;
  display: block;
  border: 3px solid rgba(191, 204, 255, 0.459);
  margin: 20px auto;
  max-width: 700px;
  border-radius: 20px;
  color: white;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/069/221/original/2202_w026_n002_1449b_p1_1449.jpg?1677440870");
}

.darkmode #celcius-temp {
  color: white;
}

.darkmode #farenheit-temp {
  transition: all 200ms ease-in-out;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.darkmode #celcius-temp:hover {
  transition: all 200ms ease-in-out;
  text-decoration: underline;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
}

.darkmode #farenheit-temp:hover {
  transition: all 200ms ease-in-out;
  text-decoration: underline;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
}

.darkmode .source:hover {
  color: white;
  transition: all 200ms ease-in-out;
  text-decoration: underline;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
}
