h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1%;
  left: 80px;
}
ul {
  border: 1px solid black;
  list-style: none;
  font-weight: 600;
  font-size: 20px;
}

form {
  padding: 3%;
}

img {
  width: 120px;
}

a {
  margin-left: -1px;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

.temperature {
  font-size: 120px;
  text-align: center;
  position: relative;
}
.units {
  color: blue;
  font-size: 20px;
  text-align: center;
}
.weather-app {
  background: rgb(254, 243, 255);
  border: 2px solid rgb(179, 0, 255);
  max-width: 700px;
  padding: 15px;
  margin: 30px auto;
  border-radius: 10px;
}

.bt {
  padding: 1%;
  width: 120px;
}

.bar {
  width: 385px;
  padding: 0.7%;
  border-radius: 5px;
}

.form-space {
  padding: 10%;
}

#actualPosition {
  margin-left: 78px;
  width: 100px;
  padding: 0;
  margin-top: -12px;
}

#coords {
  width: 100px;
  padding: 0;
  margin-top: -12px;
}

.gridd {
  padding: 4%;
  display: grid;
  grid-template-columns: 200px 50px 2px;
}

.button-container {
  text-align: center;
  position: relative;
  right: 40px;
}

.degrees-section {
  margin-top: -18px;
  width: 400px;
  max-width: 700px;
  position: relative;
  left: 150px;
}

.icon-container {
  position: relative;
  right: 20px;
}

.weather-description {
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  position: relative;
  bottom: 50px;
  left: 150px;
}
